{% extends 'base.html.twig' %}

{% block title %}TableReservation index{% endblock %}

{% block body %}
    <h1>TableReservation index</h1>

    <form method="get" class="row g-2 mb-3">
        <div class="col-md-3">
            <select name="client_id" class="form-select">
                <option value="">-- Select Client --</option>
                {% for client in clients %}
                    <option value="{{ client.id }}" {{ app.request.get('client_id') == client.id ? 'selected' : '' }}>
                        {{ client.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2">
            <input type="number" name="table_number" class="form-control" placeholder="Table #" value="{{ app.request.get('table_number') }}">
        </div>

        <div class="col-md-3">
            <input type="date" name="reservation_date" class="form-control" value="{{ app.request.get('reservation_date') }}">
        </div>

        <div class="col-md-2">
            <input type="number" name="itemsPerPage" class="form-control" placeholder="#" value="{{ app.request.get('itemsPerPage') ?? 10 }}">
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary">Filter</button>
        </div>
    </form>

    <table class="table">
        <thead><tr><th>ID</th><th>Client</th><th>Table #</th><th>Date</th></tr></thead>
        <tbody>
        {% for reservation in pagination %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.client.name }}</td>
                <td>{{ reservation.tableNumber }}</td>
                <td>{{ reservation.reservationDate ? reservation.reservationDate|date('Y-m-d H:i') : '' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}


    <a href="{{ path('app_table_reservation_new') }}">Create new</a>
{% endblock %}
